<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Error</title>
</head>
<body>
    <nav
        class="w-full h-20 bg-slate-800 flex items-center justify-between text-white z-30 shadow-md shadow-slate-500 fixed top-0">
        <div class="flex items-center">
            <p class="logo text-3xl font-medium ml-12">Hotel Management</p>
        </div>
        <div class="name text-xl mr-8 flex items-center">
            <div>
                <p class="text-2xl text-white">
                    <a href="/">Home</a>
                </p>
            </div>
            <!-- <img src="../../../../images/image.png" alt="Error" class="w-[50px] ml-4 rounded-full"> -->
        </div>
    </nav>
    <main class="w-screen h-screen flex items-center justify-center">
        <div class="flex items-center justify-center">
            <p class="text-2xl font-bold">This page is not available <span class="text-red-500 text-4xl">404</span></p>
        </div>
    </main>
</body>
</html>