<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Hotel Creation</title>
</head>
<body>
    <main class="w-screen h-screen flex">
        <form action="/user/<%= user._id %>/hotel/create" method="post" class="h-full w-1/2 bg-slate-800 p-10 rounded-sm bg-sla-500 flex flex-col items-center">
            <div class="pb-12 text-4xl text-white font-bold">
                <h1>Create your Hotel</h1>
            </div>
            <div class="mt-2">
                <label for="name" class="text-white text-lg">Enter Hotel name: </label> <br>
                <input type="text" name="name" id="name" placeholder="Enter Hotel Name" required autocomplete="off" class="w-80  h-8 p-1  rounded-md  focus:outline-none">
            </div>
            <div class="mt-2">
                <label for="phoneNumber" class="text-white text-lg">Enter hotel phone Number: </label> <br>
                <input type="text" name="phoneNumber" pattern="[789][0-9]{9}" id="phoneNumber" placeholder="Enter phone Number" required autocomplete="off" class="w-80  h-8 p-1  rounded-md  focus:outline-none">
            </div>
            <div class="mt-2">
                <label for="address" class="text-white text-lg">Enter your Address</label> <br>
                <input type="text" name="address" id="address" placeholder="Enter your address" required autocomplete="off" class="w-80  h-8 p-1  rounded-md  focus:outline-none">
            </div>
            <div>
                <button type="submit" class="w-20 h-10 bg-sky-500 rounded-md mt-3">Submit</button>
            </div>
        </form>

        <section class="w-1/2 h-full p-5 pt-20 bg-black">
            <div class="text-white">
                <h1 class="text-4xl font-semibold">Hello,</h1>
                <p class="w-3/4 pb-4">
                    Here you can create your account and login and manage your hotel as your wish
                    Just create an account and start your hotel. You can know your rooms data and
                    and also you have the capability of adding room in dashboard.
                </p>
                <h3 class="text-6xl font-semibold mt-9">Thankyou!</h3>
            </div>
        </section>
    </main>
</body>
</html>